# ignoore matlab temp files
*.mat
*.asv
# ignore image
*.img
# ignore python temp files
*.pyc
# exclude output
output/*
# but keep this
!output/.gitkeep 
# ignore vs code json files
*.json
# ignore img files
*.img
*.npz